@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Style+Script&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Satisfy&family=Style+Script&family=Tangerine:wght@700&display=swap");
.App {
  margin: 50px 100px;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}

th {
  font-family: "Tangerine", cursive;
  font-size: 50px;
}
.namepro {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.titre {
  margin: 50px;
  font-family: "Roboto Slab", cursive;
  font-size: 60px;
  color: rgb(24, 110, 180);
}
